/* NotificationPage.css */

/* お知らせ全体のスタイル */
.notification-container {
    width: 90vw;  
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; /* これを追加してコンテナを中央に配置 */
    color: #1B3672;
  }


  .notification-zone {
    height: 150px;  /* または任意の高さ */
    overflow-y: auto;  /* 縦方向にスクロール可能にする */
    border: 1px solid #1B3672;  /* 枠線を追加（オプション） */
    margin-bottom: 20px;  /* 下マージンを追加（オプション） */
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
 
  /* お知らせのタイトル */
  .notification-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    
  }
  
  /* お知らせリスト */
  .notification-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* お知らせの項目 */
  .notification-item {
    width: 320px;
    font-size: 12px;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color:#DDDDDD; /* 背景色 */
    border-radius: 5px;
  }
  
  .notification-zone h3{
  width: 320px;
  position: sticky;  /* 位置を固定 */
  top: 0;  /* 上部に固定 */
  background-color: #fff;  /* 背景色（スクロール時に他の内容が透けないように） */
  z-index: 1;  /* z-indexを設定（他の要素より前面に） */
  margin: 5px;
  }