.navbar {
    color: #1B3672;
    display: flex;
    padding: 15px 15px 10px 15px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .dropdown-menu {
    padding-top: 10px;
    position: absolute;
    top: 50px; 
    right: 0;
    width: 240px;
    height: 90vh;  /* <-- この行を追加 */
    transition: transform 2.0s ease-in-out; 
    transform: translateX(100%);
    z-index: 1000;
    background-color: white; 
    border: 1px solid #e1e1e1; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .menu-open .dropdown-menu {
    transform: translateX(0);
  }
  
 .right-item {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;}

.left-item{
    display: flex;
    justify-content: flex-start;
}

.center-item {
    display: flex;
    justify-content:left;
    flex-grow: 1;
}

.dropdown-item {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #1B3672; 
    /* transition: border-bottom 0.3s ease-in-out;   */
  }

  
  