.omotteruyobotton {
    background-color: #DDDDDD;
    color: #21396f;
    font-size: 1rem;
    font-weight: bold;
    margin-top: -50px;
    margin-bottom: 20px;
    /* 円形のボタンにするためのスタイル */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* 縁無し */
    border: none;
    /* 立体的 */
    box-shadow: 0 0 10px gray;
  
  }
    /* 触ったときにゆっくりかつさらに大きくなる */

    .count-animation {
      opacity: 1;
      transition: opacity 1s ease-out;
      position: absolute;  /* relativeからabsoluteに変更 */
      bottom: 150px;  /* 位置を上に100px移動 */
      left: 0;  /* 追加 */
      right: 0;  /* 追加 */
      text-align: center;  /* 追加 */
      font-size: 3rem;  /* 文字の大きさを調整 */
      color: #F39459;
    }
    
    .count-animation.hide {
      opacity: 0;
    }