.slick-prev:before,
.slick-next:before {
    color:#F39459 !important;
}

.slick-prev {
    left: 5px !important;  /* 数値はお好みで調整してください */
    z-index: 1001;  /* z-indexを高く設定 */
    top: 200px !important; 
}

.slick-next {
    right: 15px !important;  /* 数値はお好みで調整してください */
    top: 200px !important; 
}

.slick-prev:before, .slick-next:before {
    font-size: 30px !important;  /* 矢印のテキストサイズ */
}
