.base_flowers {
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
  }
  
  .base_flowers img {
    margin: 0 auto;
  }