.base_flowers {
    position: relative;
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
    width:90%;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    height: 400px;
  }
  
  .base_flowers {
    display: flex;
    flex-flow: column;
    text-align: center;
  }

.omoiFlowers{
    display: flex;
    justify-content: center;
  }

  .omoiFlowersData{
    display: flex;
    justify-content: center;
  }

  .dataBoxWrap{
    position: relative;
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    flex-flow: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
    width:90%;
    background-color: white;
    border-radius: 10px;
    height: 400px;
    z-index: 1000;
  }
  .dataBoxWrap h1{
    color: #1B3672;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .dataBox{
  
    width: 92%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #1B3672;
    margin: 0 auto;
    padding: 5px;
    color: #1B3672;
    margin-top: 15px;
  }


  .dataBox2{
    font-size: 14px;
    width: 45%;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #1B3672;
    
    padding: 15px 5px;
    color: #1B3672;
  }
  .dataBox2Wrap{
    display: flex;
    gap: 10px;
    justify-content: center;
 
  }
  .dataBox2 Button{
    margin-top: 5px;
    
  }


  .data{
    height: 150px;
    overflow-y: auto; /* 垂直方向にスクロールを有効に */
  }
  
  .tableContainer {
    /* height: 70px;   */
    overflow-y: auto;
    margin-top: 10px;
  }