html,body {
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-background\/70 {
  background-color: transparent !important;
}

#root {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}


.App {
  text-align: center;
  margin: 0 auto;
}

.bg-blue {
  background-color: rgb(233, 253, 252);
}

.bg-pink {
  background-color: rgb(253, 233, 233);
}

.bg-yellow {
  background-color: rgb(253, 253, 233);
}


/* App.css */
* {
  box-sizing: border-box;
}

html, body, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  overflow-y: auto;
}

