.physicalScale{
    display: flex;
    justify-content: center;
    text-align: center;
}
.physicalScaleTitle{
    padding: 10px 0px;
}
.dailyTweet{
    display: flex;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    gap:16px;
    margin-top: 5px;
}
.dailyTweet input{
    width: 280px;
    font-size: 17px;
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid ;
}
.dailyTweet label{
    padding-left: 20px;
    padding-top: 2px;
    line-height: 0.9;
    font-size: 12px;
}
.physicalScaleWrap{
    color: #1B3672;
    margin: 0px auto;
    width: 94vw;
    background-color: #fff;
    padding: 10px 0px;
    border-radius: 10px;
    border: 1px solid;

}

.physicalScaleWrap h1{
    margin-bottom: 5px;
}